<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>计数器信息列表</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="app" class="container-fluid">
            <div class="row">
                <div class="col-md-6" v-for="t in timers">
                    <hr>
                    <p>{{ t.method }}</p>
                    <line-chart
                        v-bind:t="t"
                        v-bind:key="t.method"
                        ></line-chart>
                </div>
            </div>
            <footer class="footer navbar-fixed-bottom">
                <hr>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <p class="muted credit">©2019 Copyright: <a href="https://github.com/xincao9/jsonrpc">xincao9</a></p>
                    </div>
                    <div class="col"></div>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

        <script type="text/javascript">
Vue.component('line-chart', {
    extends: VueChartJs.Line,
    props: ['t'],
    mounted() {
        this.renderChart({
            labels: this.t.x,
            datasets: [
                {
                    label: "1分钟QPS",
                    backgroundColor: '#f87979',
                    data: this.t.m1
                },
                {
                    label: "5分钟QPS",
                    backgroundColor: '#9b59b6',
                    data: this.t.m2
                },
                {
                    label: "15分钟QPS",
                    backgroundColor: '#337586',
                    data: this.t.m3
                }
            ]
        }, {responsive: true, maintainAspectRatio: false});
    }
});
var app = new Vue({
    el: '#app',
    data() {
        return {
            timers: []
        };
    },
    methods: {
    },
    mounted() {
        if (this.timer) {
            clearInterval(this.timer);
        } else {
            this.timer = setInterval(
                    () => {
                axios.get('/metric/timers').then(
                        (response) => {
                    if (response.status !== 200) {
                        console.log(response);
                    } else {
                        this.timers = response.data;
                    }
                });
            },
                    1000);
        }

    }
});
        </script>
    </body>
</html>