<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>开关列表</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="keys" class="container">
            <hr>
            <div class="row table-responsive-md">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>主机</th>
                            <th>端口</th>
                            <th>开关</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="key in keys">
                            <td>{{ key.no }}</td>
                            <td>{{ key.host }}</td>
                            <td>{{ key.port }}</td>
                            <td>{{ key.key }}</td>
                            <td v-if="key.open"><span class="badge badge-success">开</span></td>
                            <td v-else><span class="badge badge-secondary">关</span></td>
                            <td>
                                <a class="text-secondary" data-toggle="modal" v-bind:data-target="'#' + key.no">明细</a>
                                <div v-bind:id="key.no" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <table class="table table-striped table-dark">
                                                <tr>
                                                    <td>应用名</td>
                                                    <td>{{ key.application }}</td>
                                                </tr>
                                                <tr>
                                                    <td>主机</td>
                                                    <td>{{ key.host }}</td>
                                                </tr>
                                                <tr>
                                                    <td>端口</td>
                                                    <td>{{ key.port }}</td>
                                                </tr>
                                                <tr>
                                                    <td>开关</td>
                                                    <td>{{ key.key }}</td>
                                                </tr>
                                                <tr>
                                                    <td>描述</td>
                                                    <td>{{ key.describe }}</td>
                                                </tr>
                                                <tr>
                                                    <td>状态</td>
                                                    <td v-if="key.open"><span class="badge badge-success">开</span></td>
                                                    <td v-else><span class="badge badge-secondary">关</span></td>
                                                </tr>
                                                <tr>
                                                    <td>服务质量</td>
                                                    <td>{{ key.qos }}</td>
                                                </tr>
                                                <tr>
                                                    <td>操作</td>
                                                    <td>
                                                        <a class="text-success" v-on:click="change(key)">切换</a>
                                                        |
                                                        <a class="text-warning" v-on:click="persistence(key)">固化</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>创建时间</td>
                                                    <td>{{ key.createTime | datetime }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                |
                                <a class="text-success" v-on:click="change(key)">切换</a>
                                |
                                <a class="text-warning" v-on:click="persistence(key)">固化</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer class="footer navbar-fixed-bottom">
                <hr>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <p class="muted credit">©2019 Copyright: <a href="https://github.com/xincao9/jswitcher">xincao9</a></p>
                    </div>
                    <div class="col"></div>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript">
Vue.filter('datetime', function (ms) {
    var date = new Date(ms);
    return date.toLocaleString();
});

var keys = new Vue({
    el: '#keys',
    data() {
        return {
            keys: []
        };
    },
    methods: {
        change: function (key) {
            var url = '/switcher/key/' + (key.open ? 'off' : 'on') + '/' + key.host + '/' + key.port + '/' + key.key;
            axios.get(url).then(
                    (response) => {
                if (response.status !== 200) {
                    console.log(response);
                } else {
                    key.open = !key.open;
                }
            });
        },
        persistence: function (key) {
            var url = '/switcher/key/set/' + key.host + '/' + key.port + '/' + key.key + '/' + key.open;
            axios.get(url).then(
                    (response) => {
                if (response.status !== 200) {
                    console.log(response);
                } else {
                    alert('固化成功');
                }
            });
        }
    },
    mounted() {
        axios.get('/switcher/keys').then(
                (response) => {
            if (response.status !== 200) {
                console.log(response);
            } else {
                this.keys = response.data;
            }
        });
    }
});
        </script>
    </body>
</html>